/* --------------------폰트-------------------- */
@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 홈 버튼 컨테이너 스타일 */
.home-btn-container {
  position: fixed;
  top: 33px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: translateY(-50%); /* 버튼의 높이를 기준으로 중앙 맞춤 */
  z-index: 1000; /* 버튼이 다른 요소 위에 오도록 보장 */
}

.home-btn {
  cursor: pointer;
  background-color: #fffde8;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: solid 1px #000000;
}

.home-btn img {
  width: 100%; /* 이미지 너비를 버튼 너비에 맞춤 */
  height: 100%; /* 이미지 높이를 버튼 높이에 맞춤 */
  object-fit: cover; /* 이미지 비율을 유지하면서 버튼에 맞게 잘림 */
  border-radius: 50%; /* 이미지와 버튼 모서리 맞춤 */
}

/* ---------------genre button---------------- */
.button-container {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 10%;

  z-index: 1;
}

.genre {
  position: absolute;
  left: 50%; /* 부모 요소의 왼쪽에서 50% 이동 */
  transform: translateX(-50%); /* 자신의 너비의 50%만큼 왼쪽으로 이동 */
}

.genre > button {
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  font-size: 24px;
  padding-right: 30px;
  font-family: 'jua';
}

.genre > button:hover {
  color: #ffc400;
  transition: all 0.5s;
}

@media (min-width: 780px) {
  .genre {
    top: 20px;
  }
}

/* ------------------header slide-------------------- */
/* 슬라이더 전체 컨테이너 */
#slider__wrap {
  width: 45%;
  overflow: hidden; /* 슬라이더가 컨테이너 밖으로 나가지 않도록 */
  position: relative;
  left: 100px;
  top: 150px;
}

/* 슬라이더 */
#slider {
  display: flex;
  transition: transform 0.3s ease-in-out; /* 부드러운 이동 효과 */
}

/* 각 슬라이드 요소 */
#slider li {
  list-style: none;
  flex: 0 0 1.5%; /* 각 슬라이드가 컨테이너의 100% 너비 차지 */
  margin-right: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* 애니메이션 추가 */
  position: relative; /* 배경 투명도 효과를 위한 포지션 */
  overflow: hidden;
}

#slider img {
  width: 100%;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out; /* 확대 효과를 위한 트랜지션 */
}

/* 호버 효과: 이미지 확대, 그림자 추가, 배경 투명도 조정 */
#slider li:hover {
  transform: scale(1.05); /* 이미지 살짝 확대 */
}

#slider li:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* 어두운 배경 효과 */
  pointer-events: none; /* 이벤트 차단 */
  transition: background 0.3s ease-in-out; /* 배경 전환 효과 */
}

/* ------------------------------------------------------------ */
html {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(82, 71, 71, 0.925) 54%,
    rgb(0, 0, 0) 100%
  );
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* 가로 스크롤 제거 */

  /* overflow: hidden; */
}

a {
  text-decoration: none;
}

.scrollBtn {
  position: fixed;
  bottom: 15px;
  right: 10px;

  font-size: 50px;
  background-color: transparent;
  border: none;
}

/* 홈 버튼 컨테이너 스타일 */
.home-btn-container {
  position: fixed;
  top: 33px;
  left: 20px;
  width: 50px;
  height: 50px;
  transform: translateY(-50%); /* 버튼의 높이를 기준으로 중앙 맞춤 */
  z-index: 1000; /* 버튼이 다른 요소 위에 오도록 보장 */
}

.home-btn {
  cursor: pointer;
  background-color: #fffde8;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: solid 1px #000000;
}

.home-btn img {
  width: 100%; /* 이미지 너비를 버튼 너비에 맞춤 */
  height: 100%; /* 이미지 높이를 버튼 높이에 맞춤 */
  object-fit: cover; /* 이미지 비율을 유지하면서 버튼에 맞게 잘림 */
  border-radius: 50%; /* 이미지와 버튼 모서리 맞춤 */
}

/* ------------------genre menu-------------------- */
.titleBox {
  height: 100vh;
  background-color: black;
}

.titleBox a {
  color: white;
  width: 100%;
}

.titleBox div {
  color: white;
  font-size: 24px;
}

.introduce {
  padding: 50px;
  position: absolute;
  width: 35%;
  right: 100px;
  top: 150px;

  text-align: right;
}

.title {
  font-weight: 700;
  font-size: 70px;
  font-family: 'jua';
  border-bottom: 1px solid #1f1f1f;
}

.title a {
  color: #ffc400;
  /* color: yellow; */
  text-decoration: none;
}

#subtitle {
  font-family: 'LINESeedKR';
  font-weight: 310;
  font-size: calc(0.3em + 1vw);
  color: #fcf6dc;
  line-height: 1.3em;
}

.search-container {
  position: relative;
}

/* ------------------search-------------------- */
.searchBox {
  margin-top: 25px;
  position: absolute;

  left: 50%; /* 부모 요소의 왼쪽에서 50% 이동 */
  transform: translateX(-50%); /* 자신의 너비의 50%만큼 왼쪽으로 이동 */
  top: 180px;
}

.inputBox {
  padding-left: 30px;
  width: 500px;
  height: 60px;
  border: 1px solid gray;
  border-radius: 100px;
  font-size: 24px;

  background: none;

  outline: none;
  color: white;
}

.searchBtn {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 30px;
  color: #ffc400;
  content: '\f494';
  padding: 9px 10px;
}

.searchBtn:hover {
  background-color: #ffc400;
  color: #000000;
  border-radius: 100px;
}

/* ----------------정렬 버튼--------------- */
.newOld {
  position: relative;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(82, 71, 71, 0.925) 54%,
    rgb(0, 0, 0) 100%
  );
  padding: 10px 0;
}

.newOld > button {
  position: relative;
  left: 68%;
  top: 10px;
  color: white;
  background: none;
  border: none;
  font-family: 'jua';
  font-size: 18px;
  cursor: pointer;
  /* margin-left: 20px; */
}

/* --------------영화 카드-------------------- */
.card-container {
  /* height: 100%; */
  margin: 0 auto;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(82, 71, 71, 0.925) 54%,
    rgb(0, 0, 0) 100%
  );
}

.movie > a {
  color: black;
}

.cardList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* 최소 크기를 250px로 하고 최대 4열로 */
  gap: 20px; /* 카드 간 간격 */
  padding: 20px 40px; /* 위아래 20px, 양쪽 50px의 패딩 */
  box-sizing: border-box; /* 패딩 포함한 전체 너비 계산 */
  max-width: 1200px; /* 최대 너비를 1200px로 제한 */
  margin: 0 auto; /* 가운데 정렬 */
}

.oneCard {
  /* margin: 10px; */

  height: 100%;
  border-radius: 10px;

  background-color: #ffff;

  position: relative;
  overflow: hidden;
}

.movie {
  flex: 1 1 300px; /* 기본 너비 300px, 필요에 따라 늘어남 */
  margin: 10px; /* 카드 사이 여백 */
  max-width: 300px; /* 카드 최대 너비 */
  min-height: 450px; /* 카드 최소 높이 설정 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-content-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
}

.oneCard img {
  width: 100%;
  object-fit: cover;
  height: 390px;
  /* 이미지가 카드 영역에 맞게 자르기 */
  display: block;
  /* 이미지를 블록 요소로 설정하여 여백 제거 */
  /* border-radius: 10px; */
  height: 350px;
}

h2 {
  margin-top: 25px;
  margin-bottom: 5px;
}

.contentBox {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* 상단 정렬 */
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  /* 카드의 너비에 맞추어 설정 */
}

.contentTitle {
  font-family: 'jua';
  color: black;
  font-weight: 400;
  text-align: left;
  width: 100%; /* 부모 요소의 전체 너비 사용 */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; /* 텍스트를 한 줄로 유지 */
  font-size: 1.7em;
  border-bottom: solid 1px #fffde886;
  padding-bottom: 5px;
}

/* infoBox(vote+releaseDate) 추가 */
.infoBox {
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  gap: 2px; /* 자식 요소들 사이의 간격을 5px로 설정하여 간격 줄이기 */
}

/* 평점 스타일 */
.vote {
  color: black;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 2px;
}

/* ------------------------------------------------------- */
/* 개봉일 */
.releaseDate {
  color: #000000;
  font-size: 18px;
}

.imgBox {
  position: relative;
}

/* Overview 박스 스타일 */
.overviewBox {
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 20px;
  background-color: #d9d9d9;
  color: #000000;
  /* border-radius: 10px; */

  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  /* 기본적으로 열 방향으로 배치 */
  align-items: flex-start;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* 카드에 마우스 올렸을때 overviewBox 호버 */
.imgBox:hover .overviewBox {
  opacity: 1;
  visibility: visible;
  flex-direction: column;
  /* 제목 위에 개요가 오도록 설정 */
}

/* 호버 - 제목 스타일 */
.overviewBox h2 {
  font-size: 30px;
  font-weight: bold;
  word-break: keep-all;
  flex-direction: row;
  /* 호버 시 방향을 행으로 설정 */
  justify-content: flex-start;
  /* 내용 왼쪽 정렬 */
  align-items: flex-start;
  /* 내용 상단 정렬 */
  overflow: visible;
  /* 내용이 넘칠 경우 스크롤 가능 */
}

.overviewBox p {
  line-height: 25px;
  font-size: 16.5px;
  padding-right: 15px;
  overflow-y: auto;
  /* 내용이 넘칠 경우 스크롤 가능 */
}

/* 전체 스크롤바 */
.overviewBox p::-webkit-scrollbar {
  width: 6px;
  /* 스크롤바의 너비 */
}

/* 스크롤바 트랙 */
.overviewBox p::-webkit-scrollbar-track {
  background: #fffde8;
  /* 스크롤바 배경 색상 */
  /* border-radius: 10px; */
  /* 스크롤바 트랙의 둥근 모서리 */
}

/* 스크롤바 핸들 */
.overviewBox p::-webkit-scrollbar-thumb {
  background: #ffc400; /* 스크롤바 핸들의 색상 */
  /* border-radius: 10px; */ /* 스크롤바 핸들의 둥근 모서리 */
}

/* scrollBtn */
.scrollBtn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffc400;
  color: #000000;
  margin-left: auto;

  /* 하단에 붙어있게 */
  /* display: flex; */
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollBtn i {
  font-size: 30px; /* 아이콘의 크기를 버튼에 맞게 조정 */
}

.height {
}
