input {
  text-align: center;
}

.reviewDiv {
  position: absolute;

  left: 50%;
  top: 60%;
  width: 700px;
  height: 350px;
  margin: 10px;

  display: flex;
}

.reviewBox {
  width: 700px;
  padding: 5px;

  display: flex;
  flex-direction: column;

  border: 1px solid white;
}

.reviewInputBox {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-bottom: 5px;
}

.reviewContentInput {
  width: 670px;
  height: 80px;
  margin: 5px 0;

  font-size: 30px;
  font-weight: 700;
  color: black;
  background-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.utilityBox {
  width: 670px;
}

.reviewNicknameInput {
  width: 20%;
  height: 30px;

  margin: 5px 0;

  font-size: 20px;
  background-color: transparent;
}

.reviewPasswordInput {
  width: 20%;
  height: 30px;

  margin: 5px 0;

  font-size: 20px;
  background-color: transparent;
}

.reviewAddBtn {
  width: 20%;
  height: 30px;

  float: right;
  font-size: 20px;
  font-weight: 700;

  box-sizing: border-box;
  border-radius: 10px;
  border-color: black;
  color: #fff;
  box-shadow: 0 0 40px 40px black inset, 0 0 0 0 black;
  transition: all 150ms ease-in-out;

  &:hover {
    color: black;
    box-shadow: 0 0 10px 0 black inset, 0 0 10px 4px black;
  }
}

.reviewOutputBox {
  display: grid;
  grid-template-columns: repeat(1, minmax(20px, 800px));
  justify-content: center;
  text-align: center;

  margin: 10px;
  overflow-y: scroll;
}

.oneReview {
  margin: 5px;

  display: flex;
  flex-direction: column;
}

.outputNickname {
  margin: 5px auto;
  padding: 5px;
  border: 2px solid salmon;
  border-radius: 5px;

  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: black;
}

.outputContent {
  margin: 5px auto;
  padding: 5px;
  border: 2px solid salmon;
  border-radius: 5px;

  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: black;
  white-space: pre;
}

.deleteBtn {
  margin: 5px auto;

  color: red;
  font-size: 20px;
  font-weight: 900;
  border: none;
  background-color: transparent;
}
